<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team Lazy Developers Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div>
      <h1>Welcome to TEAM Lazy Developers application</h1>
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
     <b>Location</b>:<a href="http://www.goglemap.com//">Visit World Location</a> <br />
     <b>Like</b>:<button type="button" onclick="alert('Hello world!')">LIKE!</button><br />
     <b>Image</b>:<img src="smiley.gif" alt="Smiley face" width="42" height="42"> <br/>
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>